.edit-incident-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-incident-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0 ,0, 0.1);
    border-radius: 8px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-incident-container .content section {
    width: 100%;
    max-width: 380px;
}

.edit-incident-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.edit-incident-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;;
}

.edit-incident-container .content form {
    width: 100%;
    max-width: 450px;
}

.edit-incident-container .content form input,
.edit-incident-container .content form textarea {
    margin-top: 8px;
}

.edit-incident-container .content form .button-group {
    display: flex;
    justify-content: space-between;
}

.edit-incident-container .content form .button-group button + button {
    margin-left: 8px;
}

.edit-incident-container .content form .button-group .cancelar {
    width: 60%;
    background: transparent;
    border: 2px solid #2020226b;
    color: rgba(0, 0, 0, 0.884);
    transition: opacity 0.2s;
}

.edit-incident-container .content form .button-group .cancelar:hover {
    opacity: 0.8;
}