.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* transform: scale(.8); */
}

.logon-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.logon-container section.form form {
    margin-top: 60px;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}


.logon-container section .confirmDelete {
    border: 1px solid rgb(219, 11, 11);
    border-radius: 8px;
    text-align: center;
    background: rgb(255, 186, 186);
    padding: 30px 10px;
    margin-top: 30px;
    color: rgb(219, 11, 11);
}